h1, h2, h3 {
    font-size: 36px;
    color:white;
    background-color: cadetblue;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p, li {
    font-size: 16px;
    font-family: 'Times New Roman', sans-serif;
}

.recipe_link {
    font-size: 24px;
}

img {
    height: auto;
    width: 600px;
}

.menu {
    height: auto;
    width: 600px;
}